<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KFZ Konfigurator</title>

    @Styles.Render("~/bundles/styles")

    @Scripts.Render("~/bundles/divers")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
<div class="navbar navbar-dark bg-secondary">
    <div class="container">
        <span class="navbar-brand mb-0 h1">KFZ Konfigurator</span>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now - KFZ Konfigurator</p>
    </footer>
</div>

</body>
</html>