@model KFZKonfigurator.Models.ConfigurationOverviewViewModel
@using KFZKonfigurator.Resources
@using KFZKonfigurator.Utils

<div class="container">
    <br/>

    <div class="summary-table">
        <div class="row justify-content-center">
            <div class="col-6">
                <h4>
                    @KonfiguratorResx.Label_Summary
                </h4>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-3">
                @KonfiguratorResx.Label_Name
            </div>
            <div class="col-3">
                @Model.Name
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-3">
                @KonfiguratorResx.Label_EnginePower
            </div>
            <div class="col-3">
                @($"{Model.EnginePower} {Constants.UnitEngingePower}")
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-3">
                @KonfiguratorResx.Label_Varnish
            </div>
            <div class="col-3">
                @Model.VarnishLabel
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-3">
                @KonfiguratorResx.Label_Rims
            </div>
            <div class="col-3">
                @Model.RimsLabel
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-3">
                @KonfiguratorResx.Label_Equipment
            </div>
            <div class="col-3">
                <ul class="list-group list-group-flush">
                    @foreach (var equipment in Model.EquipmentLabels) {
                        <li class="list-group-item">@equipment</li>
                    }
                </ul>
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-3">
                @KonfiguratorResx.Label_Email
            </div>
            <div class="col-3">
                @Model.Email
            </div>
        </div>

        @if (Model.IsOrdered && Model.Created.HasValue) {
            <div class="row justify-content-center mt-2">
                <div class="col-3">
                    @KonfiguratorResx.Label_Ordered
                </div>
                <div class="col-3">
                    @Model.Created.Value
                </div>
            </div>
        }

        <div class="row justify-content-center mt-2">
            <div class="col-3">
                @KonfiguratorResx.Label_Price
            </div>
            <div class="col-3">
                @($"{Model.Price:C}")
            </div>
        </div>
    </div>

    @if (!Model.IsOrdered) {
        <div class="row justify-content-center mt-5">
            <div class="col-3">
                <button id="order-button" class="btn btn-primary">@KonfiguratorResx.Caption_OrderButton</button>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(function() {
        $('#order-button').click(function() {
            $(this).prop("disabled", true);

            $.post('@Url.Action("Order", "Configuration")').done(function(response) {
                if (response.Error) {
                    $.utils.showDialog('Fehler', response.Error);
                    $(this).prop("disabled", false);
                } else if (response.Success) {
                    $.utils.showDialog('', response.Success);
                }
            });
        });
    });
</script>